In [1]:
from io import BytesIO,StringIO
from zipfile import ZipFile
from urllib.request import urlopen
import datetime
import redis
import pandas as pd
r = redis.StrictRedis(host="127.0.0.1",port=6379,db=0)

d = datetime.date.today() 
csvData = ""
if d.isoweekday() in range(1, 6):
#     file_url = "https://www.bseindia.com/download/BhavCopy/Equity/EQ"+d.strftime("%d%m%y")+"_CSV.ZIP"
    file_url = "https://www.bseindia.com/download/BhavCopy/Equity/EQ090819_CSV.ZIP"
    resp = urlopen(file_url)
    zipfile = ZipFile(BytesIO(resp.read()))
    for line in zipfile.open(zipfile.namelist()[0]).readlines():
        csvData+=line.decode('utf-8')

In [2]:
data = pd.read_csv(StringIO(csvData), sep=",")

EmptyDataError: No columns to parse from file

In [67]:
data.head(10)

,SC_CODE,SC_NAME,SC_GROUP,SC_TYPE,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,NO_TRADES,NO_OF_SHRS,NET_TURNOV,TDCLOINDI
2725,958448,1170IOB28,F,D,1136611.00,1137752.05,1136600.00,1137752.05,1137752.05,1136610.96,6,7,7958526.0,NaN
2722,956083,921PNBPER,F,D,1012600.00,1012600.00,1012266.39,1012433.20,1012600.00,1012000.00,3,3,3037466.0,NaN
2724,957808,1015UPPCL26,F,D,973333.00,973333.00,970000.00,970000.00,970000.00,990000.00,7,7,6803320.0,NaN
2721,955457,95YBLPER,F,D,940000.00,940000.00,940000.00,940000.00,940000.00,950000.00,1,1,940000.0,NaN
2720,954073,50IIFL19F,F,D,146726.00,146726.00,146726.00,146726.00,146726.00,137158.00,1,20,2934520.0,NaN
2723,956527,EELE9E706A,F,D,120095.00,120095.00,120095.00,120095.00,120095.00,120068.00,6,200,24019000.0,NaN
2727,958670,1175SIBL29,F,D,109545.89,109545.89,109545.89,109545.89,109545.89,109381.00,2,17,1862280.0,NaN
2728,958790,EEL24MAY19,F,D,104800.00,104800.00,104800.00,104800.00,104800.00,104800.00,2,35,3668000.0,NaN
2729,958899,EARC25JUL19,F,D,101151.25,101151.25,101151.25,101151.25,101151.25,101125.18,1,10,1011512.0,NaN
2726,958644,RFL15MAR23,F,D,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,1,10,1000000.0,NaN

In [42]:
data.sort_values("OPEN", axis=0, ascending=False, inplace=True, kind='quicksort', na_position='last')

In [44]:
dataDict = data[['SC_NAME', 'OPEN', 'HIGH', 'LOW', 'CLOSE']].to_dict('records')

In [45]:
dataDict[0]

{'SC_NAME': '1170IOB28   ',
 'OPEN': 1136611.0,
 'HIGH': 1137752.05,
 'LOW': 1136600.0,
 'CLOSE': 1137752.05}

In [46]:
SC_CODEList = data[['SC_CODE']].values.tolist()

In [53]:
top10Keys = SC_CODEList[:10]

In [57]:
r.lpush('top10Keys', *[item[0] for item in top10Keys])

10

In [48]:
dictionary = {index[0]: value for index,value in zip(SC_CODEList,dataDict)}

In [22]:
# dictionary

In [49]:
with r.pipeline() as pipe:
    for SC_CODE, item in dictionary.items():
        pipe.hmset(SC_CODE, item)
        pipe.execute()

In [50]:
r.bgsave()

True

In [59]:
# r.keys()

# ---------------------------------------------------------------------------------------------------------------

In [75]:
TTFParse = r.lrange('top10Keys', 0, 10)

In [76]:
TTFParse.reverse()

In [77]:
answerList = []
for key in TTFParse:
    answerList.append(r.hmget(key.decode(), "SC_NAME", "OPEN", "HIGH", "LOW", "CLOSE"))

In [81]:
for row in answerList:
    print(row[0].decode()+" "+row[1].decode()+" "+row[2].decode()+" "+row[3].decode()+" "+row[4].decode())

1170IOB28    1136611.0 1137752.05 1136600.0 1137752.05
921PNBPER    1012600.0 1012600.0 1012266.39 1012433.2
1015UPPCL26  973333.0 973333.0 970000.0 970000.0
95YBLPER     940000.0 940000.0 940000.0 940000.0
50IIFL19F    146726.0 146726.0 146726.0 146726.0
EELE9E706A   120095.0 120095.0 120095.0 120095.0
1175SIBL29   109545.89 109545.89 109545.89 109545.89
EEL24MAY19   104800.0 104800.0 104800.0 104800.0
EARC25JUL19  101151.25 101151.25 101151.25 101151.25
RFL15MAR23   100000.0 100000.0 100000.0 100000.0